html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#main {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
}

/*Navbar*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background: whitesmoke;
  color: white;
  font-weight: 300;
}

.navbar__logo {
  margin-right: auto;
  font-size: 150%;
  padding: 8px;
}

.navbar__item {
  font-weight: bold;
  padding: 2px 2px;
  cursor: pointer;
  color: #009fff;
  vertical-align: middle;
}
/*Navbar*/

/*Home page*/
.home_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #932eb3;
}

.left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.image_item {
  height: 60%;
  width: 100%;
}

.left_side_introduction {
  font-size: large;
  font-weight: bold;
  color: #009fff;
}

.button_wrapper {
  padding-top: 8%;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.left_side_title {
  font-size: 5em;
  color: #009fff;
  font-weight: bolder;
}

.left_side_wrapper {
  height: 60%;
  width: 70%;
}
/*Home page*/

/*About Us*/
.aboutus-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

.aboutus {
  text-align: right;
  font-size: 1.8rem;
  color: #009fff;
}

.aboutus-header {
  min-height: 15%;
  padding-left: 5em;
  color: #009fff;
  font-size: 3rem;
}

.aboutus-pic {
  width: 50%;
  height: 100%;
}

.socialMedia {
  color: #009fff;
  margin-left: 0.5em;
}
/*About Us*/

/*Contact*/
.contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0 5% 0 5%;
  margin-top: 5em;
}

.contact-form {
  min-width: 50%;
  padding-right: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  max-width: 15em;
}

.contact-pic {
  min-width: 50%;
  padding-left: 1em;
}
/*Contact*/

/*Searchbar*/
.searchbar_wrapper {
  display: flex;
  flex-direction: row;
}
/*Searchbar*/

/*Dealerships*/

.dealership_wrapper {
  background-color: #009fff;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dealership_list {
  overflow-y: scroll;
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
}

.dealership_card {
  padding-bottom: 1em;
  width: auto;
}

.dealership_buttonContainer {
  height: 70%;
}

.dealership_list button {
  border-radius: 50%;
  height: 100%;
  float: right;
}

.dealership_list button a{
  color: white;
}

.dealership_map_wrapper {
  width: 75%;
  height: 100%;
}
/*Dealerships*/

/*Cars*/
.cars_wrapper {
  display: flex;
  flex-direction: column;
}
.cardContainer {
  margin-left: 2em;
  margin-right: 2em;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.pagination_wrapper {
  display: flex;
  height: auto;
  width: 100%;
  padding-bottom: 1em;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1em;
}
/*Cars*/

/*Car Detail*/

.itemDetailContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
}

.carDetailContainer {
  border-radius: 5%;
  width: 78%;
}

.carDetailInfo{
margin-left: 2em;
}

.carDetailImage > img {
  display: block;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.testDriveContact{
  width: 20%;
  justify-content: right;
  justify-items: right;
}
/*Car Detail*/


@media (max-width: 1200px) {
  /* About Us 1200px*/
  .aboutus-header {
    padding-left: 1em;
    font-size: 3rem;
  }

  .aboutus-container {
    flex-direction: column;
  }

  .aboutus-pic {
    width: 100%;
    height: 100%;
  }

  .aboutus {
    padding-top: 2em;
    font-size: 1.5rem;
  }

  /*Contact 1200px*/
  .contact-container {
    flex-direction: column;
  }

  .contact-pic {
    padding-top: 2em;
  }

  /*Dealerships*/
  .dealership_wrapper {
    background-color: #009fff;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .dealership_list {
    overflow-x: scroll;
    width: 100%;
    height: 40%;
  }

  .dealership_ul {
    display: flex;
    flex-wrap: wrap;
  }

  .dealership_card {
    padding-bottom: 1em;
  }

  .dealership_buttonContainer {
    height: 70%;
  }

  .dealership_map_wrapper {
    width: 100%;
    height: 60%;
  }
  /*Dealerships*/

  /*Cars*/
  .pagination_wrapper {
    position: relative;
  }
  /*Cars*/

  /*Car Detail*/
  .itemDetailContainer{
    flex-direction: column;
    margin-right: 2em;
    margin-left: 2em;
  }
  .carDetailContainer {
    width: 100%;
  }
  .carDetailInfo{
    margin-left: 0;
    }
  .testDriveContact{
    width: 50%;
  }
  .carDetailImage > img {
    width: 100%;
  }
  /*Car Detail*/
}

@media (max-width: 800px) {
  /* Home Page 800px */
  .button_wrapper {
    justify-content: space-evenly;
  }

  .left_side {
    width: 80%;
  }

  .right_side {
    flex-direction: column;
    width: 80%;
  }

  .left_side_button {
    font-size: 10px;
  }

  .home_wrapper {
    flex-direction: column;
  }

  .left_side_title {
    font-size: 1.5em;
  }

  .left_side_introduction {
    font-size: medium;
  }

  .left_side_wrapper {
    width: 100%;
  }

  .image_item {
    width: 100%;
    height: auto;
  }
/*Car Detail*/
  .testDriveContact{
    width: 100%;
  }
  .testDriveContact > form{
    width: 95%;
  }
/*Car Detail*/
}


